@page "/operations"
@using FuelStationBlazor.Shared
@using FuelStationBlazor.Shared.Models
@using System.Linq
@inject HttpClient Http
<div class="container">
    <h2>Список операций</h2>
    <form name="operationForm">
        <table class="table" border="0">
            <tr>
                <td colspan="3">
                    <label for="operationId" id="typeCRUD" name="typeCRUD">@currentStatus</label>
                    <input type="hidden" id="operationId" name="operationId" @bind="@currentOperation.OperationID" />
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label Добавить>Топливо:</label>
                        <select @ref="saveOperation" id="fuelId" name="fuelId" @bind="@currentOperation.FuelID">
                            <option value=0 selected>(выбор)</option>
                            @if (fuels == null)
                            {

                            }
                            else
                                @foreach (var fuel in fuels)
                                {
                                    <option value="@fuel.FuelID">@fuel.FuelType</option>
                                }
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="tankType">Емкость:</label>
                        <select id="tankId" name="tankId" @bind="@currentOperation.TankID">
                            <option value=0 selected>(выбор)</option>
                            @if (tanks == null)
                            {

                            }
                            else
                                @foreach (var tank in tanks)
                                {
                                    <option value="@tank.TankID">@tank.TankType</option>
                                }
                        </select>
                    </div>
                </td>
                <td>
                    <a class="btn btn-primary" @onclick="FilterOperations">Фильтровать</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <label for="inc_exp">Приход-расход:</label>
                        <input class="form-control" name="inc_exp" id="inc_exp" @bind="@currentOperation.Inc_Exp" />
                    </div>
                    <div class="form-group">
                        <label for="date">Дата:</label>
                        <input class="form-control" name="date" id="date" @bind="currentOperation.Date" @bind:format="dd-MM-yyyy" />
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-sm btn-primary" @onclick="SaveOperation">Сохранить</a>
                        <a id="reset" class="btn btn-sm btn-primary" @onclick="Reset">Сбросить</a>

                    </div>
                </td>
            </tr>
        </table>
    </form>
    Число записей: @currentCount
</div>
    @if (currentListOperations == null)
    {
        <p><em>Загрузка...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Код опрерации</th><th>Название топлива</th><th>Емкость</th><th>Приход-расход:</th><th>Дата</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var operation in currentListOperations)
                {
                    <tr>
                        <td>@operation.OperationID</td>
                        <td>@operation.FuelType</td>
                        <td>@operation.TankType</td>
                        <td>@operation.Inc_Exp</td>
                        <td>@operation.Date.ToShortDateString()</td>
                         <td>
                            <a class='editLink' @onclick="@(e => GetOperation(operation.OperationID))">Выбрать</a> | 
                            <a class='removeLink' @onclick="@(e => DeleteOperation(operation.OperationID))">Удалить</a>
                         </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @code {
        private List<OperationViewModel> currentListOperations;
        private List<OperationViewModel> fullListOperations;
        private List<Tank> tanks;
        private List<Fuel> fuels;
        private int currentCount;
        private OperationViewModel currentOperation = new OperationViewModel();
        private ElementReference saveOperation;
        private string currentStatus = "Добавление"; //текущий назначение формы


        //Инициализация: загрузка списков операций, емкостей и видов топлива
        protected override async Task OnInitializedAsync()
        {
            fullListOperations = await Http.GetFromJsonAsync<List<OperationViewModel>>("api/operations");
            currentListOperations = fullListOperations;
            tanks = await Http.GetFromJsonAsync<List<Tank>>("/api/operations/tanks");
            fuels = await Http.GetFromJsonAsync<List<Fuel>>("/api/operations/fuels");
            currentCount = currentListOperations.Count();

        }
        //Фильтрация списка операций
        private void FilterOperations()
        {
            currentListOperations = fullListOperations;
            if (currentOperation.TankID > 0)
            {
                currentListOperations = currentListOperations.Where(t => t.TankID == currentOperation.TankID).ToList();
            }
            if (currentOperation.FuelID > 0)
            {
                currentListOperations = currentListOperations.Where(f => f.FuelID == currentOperation.FuelID).ToList();
            }
            currentCount = currentListOperations.Count();

        }
        //Получение данных по одной опреации
        private async Task GetOperation(int operationId)
        {
            currentStatus = "Редактирование";
            OperationViewModel operation = currentListOperations.Where(o => o.OperationID == operationId).First();
            currentOperation = operation;
            await saveOperation.FocusAsync();

        }
        //Удаление данных одной операции
        private async Task DeleteOperation(int operationId)
        {
            OperationViewModel operation = currentListOperations.Where(o => o.OperationID == operationId).First();
            currentListOperations.Remove(operation);
            var code = await Http.DeleteAsync("api/operations/" + operationId);
            fullListOperations.Remove(operation);
        }

        //Сохранение данных после редактирования или добавления операции
        private async Task SaveOperation()
        {
            if (currentOperation.OperationID > 0 & CheckOperation())//редактирование
            {
                OperationViewModel operation = currentListOperations.Find(o => o.OperationID == currentOperation.OperationID);
                operation = currentOperation;
                var code = await Http.PutAsJsonAsync("api/operations/", currentOperation);
            }
            if (currentOperation.OperationID == 0 & CheckOperation())//создание
            {
                OperationViewModel operation = currentOperation;
                var code = await Http.PostAsJsonAsync("api/operations/", currentOperation);
                fullListOperations = await Http.GetFromJsonAsync<List<OperationViewModel>>("api/operations");
                currentListOperations = fullListOperations;
                currentCount = currentListOperations.Count();
            }
        }
        //Сброс значений формы и повторная загрузка списка операций
        private async Task Reset()
        {
            currentStatus = "Добавление";
            currentOperation = new OperationViewModel();
            fullListOperations = await Http.GetFromJsonAsync<List<OperationViewModel>>("api/operations");
            currentListOperations = fullListOperations;
            currentCount = currentListOperations.Count();

        }

        //Проверка корректности заполнения
        private bool CheckOperation()
        {
            if (currentOperation.TankID > 0 & currentOperation.FuelID > 0) return true;
            else return false;
        }

    }
